.checkContent{
    display: inline-block;
    width: 180px;
    margin-top: 1em;
    margin-right: 4em;
    margin-bottom: 1em;
}

textarea {
    max-width: 480px !important;
    overflow: scroll;
    resize: none;
}

#txtNombreRol{
    max-width: 480px !important;
}
.borderIzq {
    border-left: 0.5px solid gold;
    
}
.ml{
    margin-left: 2em;
}

.btnLogin{
    background-color: #b0191e;
    color: white;
    border: none;
  }

  .btnLogin:hover{
    transition: all 0.5s ease-in-out;
    background-color: #cf0c13;
    color: white;
  }
  